@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Wix Madefor Display', sans-serif;
    overflow-x: hidden;
    color: rgb(94, 94, 94);
    background: #f9fcf8;
}

h2{
    background-color: rgb(94, 94, 94);
}
/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------Menu---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */

header{
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: inherit;
}

nav{
    padding: 0.5% 3% 0.5% 3%;
    display: flex;
    justify-content: space-between;
    font-size: 1.2vw;
}

.menu_left a{
    text-decoration: none;
    color: inherit;
}

.menu_right{
    display: flex;
    gap: 3rem;
}
.menu_right ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}

.menu_right a{
    text-decoration: none;
    color: inherit;
}

.menu_right a:hover{
    text-decoration: underline;
}


/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------HOME---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
#home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* height: 100svh; */

    background-image: url('../images/planta1r.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.h_Texts{
    padding: 30% 25% 0 5%;
    color: #eff6ee;
    user-select: none;
}
.h_title{
    font-size: 5.5vw;
    font-weight: 800;
    line-height: 0.9;
}
.h_paragraph{
    padding-top: 1%;
    font-size: 1.7vw;
    font-weight: 500;
}

.h_button_container{
    padding: 2% 0 10% 5%;

}

.h_button{
    border: #eff6ee solid 1px;
    border-radius: 50px;
    padding: 1% 6% 1% 6%;
    text-decoration: none;
    color: #eff6ee;
    user-select: none;
    transition: 0.3s ease;
    font-size: 1.3vw;
    font-weight: 500;
}

.h_button:hover{
    background: #eff6ee;
    color: black;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------FOME---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */ 

#fome{
    position: relative;
    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
}

.fome_container1{
    width: 100%;
    height: 100vh;
    display: flex;
}

.fome_left{
    width: 1%;
}

.fome_right{
    flex: 1;
    display: flex;
    padding-right: 8%;
}

#fome_right_texts{
    padding: 10% 0 0 15%;
}

#fome_right_texts h1{
    font-size: 4vw;
    font-weight: 800;
}

#fome_right_texts h2{
    width: 50%;
    height: 1px;
    margin-top: 1%;
    margin-bottom: 1%;
}

#fome_right_texts p{
    font-size: 1.2vw;
    font-weight: 400;
    padding-right: 30%;
}

#fome_right_img{
    width: 80vw;
    height: 80vh;
    border-radius: 15%;
    margin: 5% 10% 0 0;
    transition: all 0.5s ease-in-out;

    background-image: url('../images/arroz1r.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
}

#fome_right_img:hover{
    background-size: 130%;
}

/*-------------------------------------------------------*/

#fome_divider{
    font-size: 3vw; 
    white-space: nowrap;
    user-select: none;
}


/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------AI------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------- */

#AI{
    width: 100%;
    height: 300vh;
    height: 300svh;
    display: flex;
    justify-content: space-around;
    padding-top: 8%;

    background: #030304;
    color: #eff6ee;
}

.AI_img{
    width: 50%;
    height: 90vh;
    position: sticky;
    top: 5%;
    transform: scaleX(-1);
}


.AI_Title{
    padding-top: 15%;
    padding-left: 8%;
}

.AI_Title h1{
    font-size: 4vw;
    font-weight: 900;
    letter-spacing: 0.1px;
}

.AI_Title p{
    padding-top: 1%;
    font-size: 1.5vw;
    font-weight: 400;
    letter-spacing: 0.1px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------carrossel---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */ 

#carrossel{
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
    
.carro_title{
    font-size: 5.5vw;
    font-weight: 500;
    margin-top: 5%;
}

.carro{
    align-self: center;
    margin-top: 5%;
    width: 90%;
    height: 60vh;
    background: pink;
    display: flex;
    position: relative;
    z-index: 2;
}

#carro1{
    width: 50%;
    border-radius: 10px;
    position: relative;
    z-index: -1;
    
    background-image: url('../images/arroz5.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------footer---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */

footer{
    width: 100%;
    height: 25vh;
    background: #030304;
}
