@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Wix Madefor Display', sans-serif;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------HOME---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */
#home{
    width: 100%;
    height: 100vh;
    height: 100svh;

    background-image: url('../images/planta1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.h_Texts{
    padding: 25% 0 0 5%;
    color: #eff6ee;
}
.h_title{
    font-size: 80pt;
    font-weight: 800;
    line-height: 0.9;
}
.h_paragraph{
    /* padding-left: 0.5%;
    padding-right: 35%; */
    padding: 1% 35% 0 0.5%;
    font-size: 25pt;
}

.h_button_container{
    padding: 2% 0 0 5%;
}

.h_button{
    border: #eff6ee solid 1px;
    border-radius: 50px;
    padding: 1% 6% 1% 6%;
    text-decoration: none;
    color: #eff6ee;
    user-select: none;
    transition: 0.3s ease;
    font-size: 15pt;
}

.h_button:hover{
    background: #eff6ee;
    color: black;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------FOME---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */ 

#fome{
    position: relative;
    width: 100%;
    height: 200vh;
    background: #eff6ee;
    z-index: 2;
}

.f_left{
    width: 8%;
    height: 100vh;
    border: black solid 3px;
    display: flex;
    flex-direction: column;
    justify-content:end;
}

.f_left_footer{
    font-size: 30pt;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------AI------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------------------------- */

#AI{
    width: 100%;
    height: 300vh;
    height: 300svh;
    display: flex;
    justify-content: space-around;
    padding-top: 8%;

    background: #030304;
    color: #eff6ee;
}

.AI_img{
    width: 50%;
    height: 70vh;
    position: sticky;
    top: 8%;
    transform: scaleX(-1);
}

.AI_Title{
    padding-top: 12%;
    padding-left: 5%;
}

.AI_Title h1{
    font-size: 40pt;
    font-weight: 900;
    letter-spacing: 0.1px;
}

.AI_Title p{
    font-size: 20pt;
    font-weight: 400;
    letter-spacing: 0.1px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------SEC2---------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------------------------------------- */

#sec2{
    width: 100%;
    height: 200vh;
    background: white;
}
