@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Wix Madefor Display', sans-serif;
}

header{
    background: transparent;
    position: fixed;
}



#home{
    width: 100%;
    height: 100vh;
    height: 100svh;

    background-image: url('../images/planta1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.h_Texts{
    padding: 25% 0 0 5%;
    color: #eff6ee;
}
.h_title{
    font-size: 80pt;
    font-weight: 800;
}
.h_paragraph{
    padding-left: 0.5%;
    padding-right: 35%;
    font-size: 25pt;
}

#fome{
    position: relative;
    width: 100%;
    height: 200vh;
    background: #eff6ee;
    z-index: 2;
}

.f_left{
    width: 8%;
    height: 100vh;
    border: black solid 3px;
    display: flex;
    flex-direction: column;
    justify-content:end;
}

.f_left_footer{
    font-size: 30pt;
}